body {
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
    background-color: #B0C0BC  ; /* Color opcional fondo */
    background-color: #dbdad6  ;
    background-color: #ffffff  ;
    color: #000000;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 20px auto;
    color: #0F0F0F;
    font-family: 'Montserrat', sans-serif;
}

.left-content {
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin-left: 5px;
    margin-right: 70px;
}

.navbar-logo {
    width: 60px;
    height: 60px;
    margin-right: 5px;
}

nav {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff ; 
    padding: 10px;
    border-radius: 25px;
    border: 0px solid #6a6665 ; 
    min-width: 270px;
    max-width: 470px;
    margin: 20px auto;
    flex-shrink: 0;
    flex-grow: 1;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}

nav ul li {
    margin: 0 5px;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    padding: 10px 25px;
    background-color: #ffffff ;
    border: 1px solid #ffffff ;
    transition: all 0.3s ease;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

nav ul li a:hover {
    background-color: #A77352   ;
    border: 3px solid #A77352;
    color: #fff;
    border-radius: 25px;
}

nav ul li a.active {
    font-family: 'Playfair Display', serif;
    font-style: initial;
    background-color: #ffffff;
    font-size: 20px;
    color: #292021;
    border: 4px solid #ffffff;
    border-radius: 25px;
    font-weight: bold;
}

.content-section {
    transition: transform 0.5s ease-in-out;
}

.slide-in {
    transform: translateX(0%);
}

.slide-out {
    transform: translateX(100%);
}

.hidden {
    visibility: hidden;
}

nav ul li a.disabled {
    pointer-events: none;
    cursor: default;
}

@media (max-width: 768px) {

    .left-content {
        margin-left: 20px;
        margin-right: 20px;
    }
}